

<table class="Bootstrap">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Country</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Senan</th>
            <td>Memmedov</td>
            <td>33</td>
            <td>Azerbaycan</td>
            <td>070-866-53-41</td>
        </tr>
    </tbody>
</table>

